@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
body {
    background-color: #F2F2F2;
}

.header {
    position: absolute;
    width: 1280px;
    height: 49px;
    left: 80px;
    top: 65px;
    float: left;
}

.logo {
    position: absolute;
    width: 166px;
    height: 49px;
    left: 0px;
    top: 0px;
}

.links {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 271px;
    height: 19px;
    left: 1007px;
    top: 15px;
}

a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #07043B;
    text-decoration: none;
}

.stages {
    width: 55px;
    height: 45px;
    background-image: url(../Images/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    width: 94px;
    height: 49px;
    left: 56px;
}

.F {
    position: absolute;
    width: 23.52px;
    height: 48.63px;
    left: 56.01px;
    top: -10.59px;
    color: black;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: bold;
}

.y {
    position: absolute;
    width: 25.39px;
    height: 49.1px;
    left: 83.1px;
    top: -8.78px;
    color: black;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: bold;
}

.l {
    font-size: 50px;
    position: absolute;
    width: 9.87px;
    height: 48.68px;
    left: 105.39px;
    top: -10.97px;
    font-family: 'Raleway';
    font-weight: bold;
}

.o {
    font-size: 50px;
    position: absolute;
    width: 27.49px;
    height: 27.11px;
    left: 117.49px;
    top: -11.4px;
    font-family: 'Raleway';
    font-weight: bold;
}

.hero {
    position: absolute;
    width: 1280px;
    height: 474px;
    top: 239px;
    left: 80px;
}

.left {
    width: 509.5px;
    height: 474px;
    background-color: transparent;
}

.h3 {
    width: 606px;
    height: 120px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #07043B;
}

.p {
    width: 525px;
    height: 72px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.53125px;
    text-align: left;
    color: #07043B;
}

input {
    height: 45px;
    width: 266px;
    border-radius: 3.125px;
}

.email {
    position: absolute;
    top: 227px;
    background: #F2F2F2;
}

button {
    position: absolute;
    height: 45px;
    width: 178px;
    left: 286px;
    top: 230px;
    border-radius: 3.125px;
    background: #2F65F8;
    cursor: pointer;
    border: none;
    color: white;
}

.image {
    background-image: url(../Images/illustration_1-01.png);
    z-index: 9;
    position: relative;
    width: 640px;
    height: 474px;
    top: -472px;
    left: 640px;
}

.productive {
    height: 838px;
    width: 1440px;
    left: 0px;
    top: 838px;
    border-radius: 0px;
    background-color: #F2F2F2;
    position: relative;
}

.curve {
    position: absolute;
    background-image: url(../Images/curve.png);
    z-index: 9;
    width: 1440px;
    height: 856px;
}

.staypro {
    position: absolute;
    color: #07043B;
    height: 47px;
    width: 650px;
    left: 80px;
    top: 178px;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0px;
    text-align: left;
    z-index: 10;
}

.neverlet {
    position: absolute;
    color: #07043B;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    height: 48px;
    width: 529px;
    left: 80px;
    top: 263px;
    z-index: 10;
}

.securely {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #07043B;
    position: absolute;
    font-style: normal;
    height: 48px;
    width: 529px;
    left: 80px;
    top: 327px;
    z-index: 10;
}

.rectangle {
    position: absolute;
    height: 1px;
    width: 166px;
    left: 0px;
    top: 26px;
    border-radius: 0px;
    left: 80px;
    right: 0%;
    top: 412px;
    bottom: 0%;
    background: #3DA08F;
    z-index: 10;
}

.textrect a {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    height: 22px;
    width: 146px;
    left: 80px;
    top: 387px;
    color: #3DA08F;
    z-index: 10;
    text-decoration: none;
}

.oval {
    position: absolute;
    height: 12px;
    width: 12px;
    left: 233px;
    top: 393px;
    border-radius: 50%;
    background-color: #3DA08F;
    box-shadow: 0px 0px 2px rgba(61, 160, 143, 0.793507);
    z-index: 10;
}

.arrow {
    background-image: url(../Images/Shape.png);
    position: relative;
    height: 4px;
    width: 5.32px;
    left: 3px;
    top: 4px;
    border-radius: 0px;
}

.quotebox {
    position: relative;
    height: 215px;
    width: 356px;
    left: 80px;
    top: 457px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
    border-radius: 5px;
    z-index: 10;
}

.quotetext {
    position: absolute;
    height: 92px;
    width: 289px;
    left: 33px;
    top: 49px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #07043B;
}

.quoteimg {
    background-image: url(../Images/“.png);
    position: absolute;
    height: 10px;
    width: 13px;
    left: 33px;
    top: 26px;
}

.kylebox {
    position: relative;
    height: 32px;
    width: 137px;
    left: 33px;
    top: 157px;
    border-radius: 0px;
    z-index: 10;
}

.kyleimg {
    position: absolute;
    background-image: url(../Images/kyle.png);
    width: 32px;
    height: 32px;
}

.kylename {
    position: absolute;
    height: 15px;
    width: 71px;
    left: 40px;
    top: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.55px;
    color: #07043B;
}

.ceo {
    position: absolute;
    height: 15px;
    width: 97px;
    left: 40px;
    top: 17px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 15px;
    letter-spacing: 0.4px;
    color: #07043B;
}

.productiveimg {
    position: absolute;
    background-image: url(../Images/illustration_2.svg);
    height: 409px;
    width: 542px;
    left: 818px;
    top: 219.5px;
    border-radius: 0px;
    z-index: 10;
}